{% extends "account/base_auth.html" %}
{% load i18n account allauth %}

{% block title %}{% trans "Confirm Email Address" %}{% endblock %}

{% block auth_content %}
 
    <div class="auth-header">
      <h1>{% trans "Confirm Email Address" %}</h1>
    </div>

    {% if confirmation %}
      {% user_display confirmation.email_address.user as user_display %}
      {% if can_confirm %}
        <p class="text">
          {% blocktrans with confirmation.email_address.email as email %}
            Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.
          {% endblocktrans %}
        </p>

        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}" class="auth-form">
          {% csrf_token %}
          {{ redirect_field }}
          <button type="submit" class="btn btn-primary btn-block">{% trans "Confirm" %}</button>
        </form>

      {% else %}
        <p class="text text-error">
          {% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{% endblocktrans %}
        </p>
      {% endif %}

    {% else %}
      <p class="text text-error">
        {% url 'account_email' as email_url %}
        {% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new email confirmation request</a>.{% endblocktrans %}
      </p>
    {% endif %}

{% endblock %}