{% extends "account/base_auth.html" %}
{% load i18n allauth %}

{% block title %}{% trans "Change Password" %}{% endblock %}
{% block auth_illustration %}

{% endblock %}
{% block auth_content %}

  <div class="auth-header">
    <h1>{% trans "Password Changed" %}</h1>
    <p>{% trans "Your password has been successfully changed. You can now log in with your new credentials." %}</p>
  </div>

  <div class="form-actions">
    <a href="{% url 'account_login' %}" class="btn btn-primary btn-block">
      {% trans "Log In" %}
    </a>
  </div>

{% endblock %}