<div style="
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: #15202b;
  color: #e9f5fe;
  font-family: Arial, sans-serif;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #2f3336;
">

  <p style="font-size: 18px; color: #e9f5fe;">
    Hello from <strong style="color: #e9f5fe;">SonicAdz.</strong>
  </p>

  <p style="color: #8899a6;">
    You are receiving this email because you, or someone else, tried to access an account with the email:
    <strong>{{ email }}</strong>.
  </p>

  <p style="color: #8899a6;">
    However, we do not have any record of such an account in our database.
  </p>

  <p style="color: #8899a6;">
    If it was you, you can sign up for an account using the link below:
  </p>

  <p style="margin: 30px 0;">
    <a href="{{ password_reset_url }}"
      style="background-color: #1d9bf0; color: #ffffff; padding: 12px 20px; text-decoration: none;
              border-radius: 5px; display: inline-block; font-size: 16px; cursor:pointer;">
      Reset Password
    </a>
  </p>

  <p style="color: #90b0c8ff;">If the button doesn't work, you can also copy and paste the following link into your browser:</p>

  <p><a href="{{ password_reset_url }}">{{ password_reset_url }}</a></p>

  <p style="margin-top: 40px; color: #8899a6;">
    Thanks,<br>
    The <strong style="color: #e9f5fe;">SonicAdz.</strong> Team
  </p>
</div>